:root{
    
        --preto: #302727;
        --vermelho: #ba2d2d;
        --laranja: #f2511b;
        --laranja: #f2861b;
        --verde: #c7c730;
    }

    header ,footer{
        background-color: var(--vermelho);
        align-items: center;
    }
#contrateSection{
    background-color: #6b5d5d;
    margin: 50;
    padding: 50;
}
.container{
    display: flex;
    justify-content: flex-end;
}
